<h1>Display your Pirate here</h1>
  
<h1>Pirates</h1>

Name: <%= @pirate.name %>
Weight: <%= @pirate.weight %> pounds
Height: <%= @pirate.height %> inches
<br><br>

<h2>Display your first ship here</h2>

Name: <%= @ships[0].name %>
Type: <%= @ships[0].type %>
Booty: <%= @ships[0].booty %>

<h2>Display your second ship here</h2>

Name: <%= @ships[1].name %>
Type: <%= @ships[1].type %>
Booty: <%= @ships[1].booty %>